<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .header{
            margin:0 auto;
            width:800px;
            height:100px;
            border:2px solid red;
        }
        .body{
            margin:0 auto;
            width:800px;
            height:500px;
            border:2px solid blue;
        }
        .footer{
            margin:0 auto;
            width:800px;
            height:500px;
            border:2px solid blue;
        }
    </style>
</head>
<body>
<div class="header">header</div>
<div class="body">body</div>
<div class="footer"></div>
</body>
</html>